<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="log4j" />
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>


    <!--映射文件的设置 -->
    <mappers>
        <mapper resource="mapper/StoryCommentsMapper.xml"/>
        <mapper resource="mapper/StoryInformationHisMapper.xml"/>
        <mapper resource="mapper/StoryInformationMapper.xml"/>
        <mapper resource="mapper/StoryReplyMapper.xml"/>
        <mapper resource="mapper/UserConnectionMapper.xml"/>
        <mapper resource="mapper/UserInformationMapper.xml"/>
        <mapper resource="mapper/UserStoryMapper.xml"/>
        <mapper resource="mapper/specialMapper/StoryManageMapper.xml"/>
    </mappers>
</configuration>
