<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifeSharing.mapper.UserConnectionMapper" >
  <resultMap id="BaseResultMap" type="com.lifeSharing.pojo.UserConnection" >
    <id column="user_no" property="userNo" jdbcType="VARCHAR" />
    <id column="focus_no" property="focusNo" jdbcType="VARCHAR" />
    <result column="focus_name" property="focusName" jdbcType="VARCHAR" />
    <result column="is_special_focus" property="isSpecialFocus" jdbcType="VARCHAR" />
    <result column="focus_time" property="focusTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_no, focus_no, focus_name, is_special_focus, focus_time, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lifeSharing.pojo.UserConnectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lifeSharing.pojo.UserConnectionKey" >
    select 
    <include refid="Base_Column_List" />
    from user_connection
    where user_no = #{userNo,jdbcType=VARCHAR}
      and focus_no = #{focusNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lifeSharing.pojo.UserConnectionKey" >
    delete from user_connection
    where user_no = #{userNo,jdbcType=VARCHAR}
      and focus_no = #{focusNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lifeSharing.pojo.UserConnectionExample" >
    delete from user_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lifeSharing.pojo.UserConnection" >
    insert into user_connection (user_no, focus_no, focus_name, 
      is_special_focus, focus_time, remark
      )
    values (#{userNo,jdbcType=VARCHAR}, #{focusNo,jdbcType=VARCHAR}, #{focusName,jdbcType=VARCHAR}, 
      #{isSpecialFocus,jdbcType=VARCHAR}, #{focusTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lifeSharing.pojo.UserConnection" >
    insert into user_connection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="focusNo != null" >
        focus_no,
      </if>
      <if test="focusName != null" >
        focus_name,
      </if>
      <if test="isSpecialFocus != null" >
        is_special_focus,
      </if>
      <if test="focusTime != null" >
        focus_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="focusNo != null" >
        #{focusNo,jdbcType=VARCHAR},
      </if>
      <if test="focusName != null" >
        #{focusName,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialFocus != null" >
        #{isSpecialFocus,jdbcType=VARCHAR},
      </if>
      <if test="focusTime != null" >
        #{focusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lifeSharing.pojo.UserConnectionExample" resultType="java.lang.Integer" >
    select count(*) from user_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_connection
    <set >
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.focusNo != null" >
        focus_no = #{record.focusNo,jdbcType=VARCHAR},
      </if>
      <if test="record.focusName != null" >
        focus_name = #{record.focusName,jdbcType=VARCHAR},
      </if>
      <if test="record.isSpecialFocus != null" >
        is_special_focus = #{record.isSpecialFocus,jdbcType=VARCHAR},
      </if>
      <if test="record.focusTime != null" >
        focus_time = #{record.focusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_connection
    set user_no = #{record.userNo,jdbcType=VARCHAR},
      focus_no = #{record.focusNo,jdbcType=VARCHAR},
      focus_name = #{record.focusName,jdbcType=VARCHAR},
      is_special_focus = #{record.isSpecialFocus,jdbcType=VARCHAR},
      focus_time = #{record.focusTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lifeSharing.pojo.UserConnection" >
    update user_connection
    <set >
      <if test="focusName != null" >
        focus_name = #{focusName,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialFocus != null" >
        is_special_focus = #{isSpecialFocus,jdbcType=VARCHAR},
      </if>
      <if test="focusTime != null" >
        focus_time = #{focusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
      and focus_no = #{focusNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lifeSharing.pojo.UserConnection" >
    update user_connection
    set focus_name = #{focusName,jdbcType=VARCHAR},
      is_special_focus = #{isSpecialFocus,jdbcType=VARCHAR},
      focus_time = #{focusTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where user_no = #{userNo,jdbcType=VARCHAR}
      and focus_no = #{focusNo,jdbcType=VARCHAR}
  </update>
</mapper>